@page
@model WebApp.Pages_IngredientInRecipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Ingredients in recipes</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IngredientInRecipe[0].Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientInRecipe[0].Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientInRecipe[0].IngredientInRecipeAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IngredientInRecipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientInRecipeAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IngredientInRecipeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IngredientInRecipeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IngredientInRecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
