@page
@model WebApp.Pages_Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Recipe details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.RecipeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.RecipeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.RecipeTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeServings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.RecipeServings)
        </dd>
    </dl>
</div>
@*<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
<div class="btn-group btn-group-lg btn-group-md btn-group-sm" role="group" aria-label="Basic example">
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeId" class="btn btn-secondary">Edit</a>
    <a asp-page="./Delete" asp-route-id="@Model.Recipe.RecipeId" class="btn btn-secondary">Delete</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
<hr />
<h3>Ingredients</h3>
<hr />
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients[0].Ingredient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients[0].IngredientInRecipeAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients[0].Ingredient.IngredientUnit)
        </th>
        <th></th>
            
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Ingredients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientInRecipeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.IngredientUnit.IngredientUnitName)
            </td>
            <td>
                <a asp-page="../IngredientInRecipes/Edit" asp-route-id="@item.IngredientInRecipeId">Edit</a> |
                @*<a asp-page="../IngredientInRecipes/Details" asp-route-id="@item.IngredientInRecipeId">Details</a> |*@
                <a asp-page="../IngredientInRecipes/Delete" asp-route-id="@item.IngredientInRecipeId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="btn-group btn-group-lg btn-group-md btn-group-sm" role="group" aria-label="Basic example">
    <a asp-page="../IngredientInRecipes/Create" asp-route-recipeId="@Model.Recipe.RecipeId" class="btn btn-secondary">Add ingredient</a>

</div>
