@page
@model WebApp.Pages_Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Recipes</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Create New</a>
</p>

<form class="form-inline" method="get">
    <div class="form-group">
        Search by name: <input type="text" value="@Model.SearchString" asp-for="SearchString" class="form-control"/>
        <input type="submit" value="Search" form-control class="btn btn-dark"/>
        <input type="submit" value="Reset" name="onReset" class="btn btn-secondary"
               @(string.IsNullOrWhiteSpace(Model.SearchString) ? "disabled=\"disabled\"" : "")/>
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
            <a asp-page="./Index" asp-route-sortOrder="@Model.SortName">
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeName)
            </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SortDescription">
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeDescription)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SortTime">
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeTime)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeServings)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr onclick="location.href = './Recipes/Details?id=' + @item.RecipeId;">
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeServings)
            </td>

        </tr>
}
    </tbody>
</table>
