@page
@model WebApp.Pages_IngredientUnits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Units</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IngredientUnit[0].IngredientUnitName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IngredientUnit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientUnitName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IngredientUnitId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IngredientUnitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IngredientUnitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
